<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg .tg-0lax {
    text-align: left;
    vertical-align: top;
  }
  .grey-bg {
    background-color: #f5f7fa;
  }
</style>

<section>
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4 class="text-uppercase"><b>Espace Admininistrateur.</b></h4>
      <p>Gestion du blog.</p>
    </div>
  </div>
</section>

<section id="minimal-statistics">
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">{{ countusers }}</h3>
                <span>Total des utilisateurs.</span>
              </div>
              <div class="align-self-center">
                <i class="icon-user success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-pencil primary font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ countarticles }}</h3>
                <span>Total des articles.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ countcomments1 }}</h3>
                <span>Total des commentaires.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="warning">{{ countcomments0 }}</h3>
                <span>Commentaires en attente.</span>
              </div>
              <div class="align-self-center">
                <i class="icon-bubbles warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h6 class="text-uppercase">Gestion des commentaires.</h6>
      <p>mis en attente.</p>
    </div>
  </div>
</section>

<section id="stats-subtitle">
  <div class="col-xl-12 col-md-12">
    {#Foreach #}
    <div class="card">
      <div class="card-content">
        <div class="card-body cleartfix">
          <div class="media align-items-stretch">
            <div class="align-self-center">
              <i class="icon-bubbles warning font-large-2 mr-2"></i>
            </div>
            <div class="media-body">
              <a href="http://">Titre de l'article commenté.</a><br />
              {{ comments }}
              <span>Content commentaire.</span><br />
              {{ user }}
              <span>Fullname user.</span><br />
              {{ comments.createdat }}
              <span>Date de soumission.</span>
            </div>
            <div class="align-self-center">
              <a href="http://">Je valide.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
