<div class="slider">
  <div class="display-table center-text">
    <h1 class="title display-table-cell">
      <b>L' <span>"AFRIQUE"</span> UN PARADIS PERDU.</b><br>
      <em>de son vrai nom kemet</em>
    </h1>
  </div>
</div>
<!-- slider -->
<section class="post-area section">
{{ getalert }}
  <div>
    <!-- get alerts ici -->
    {% if getalert == 'post&comment=waiting' %}
    <!-- alert=1 -->
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Votre commentaire à été soumis au modérateur!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    {% elseif getalert == 'post&comment=already' %}
    <!-- alert=2 -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Vous avez déjà commenté cet article!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% elseif getalert == 'post&comment=notconnected' %}
    <!-- alert=2 -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Veuillez vous authentifier!
      <a href="http://">Login</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    

    {% elseif getalert == 'post&comment=update' %}
    <!-- alert=2 -->
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Votre commentaire est modifié!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 no-right-padding">
        <div class="main-post">
          <div class="blog-post-inner">
            <div class="post-info">
              <div class="left-area">
                <!-- Avatar img-->
                <a class="avatar" href="#"
                  ><img
                    src="public/images/avatar-1-120x120.jpg"
                    alt="Profile Image"
                /></a>
              </div>
              <div class="middle-area">
                <p>{{ user.prenom}}</p> {# de quel id? #}
                <p>{{ user.nom}}</p>

                {% if user.updatedAt is not null or not empty %}
                <p>Updated</p>
                <h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
                {{ article.updatedAt}}
                {% else %}
                <p>Created</p>
                <h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
                {{ article.createdAt}}
                {% endif %}

              </div>
            </div>
            <!-- post-info -->
            <h3 class="title">
              <a href="#"
                ><b>{{ article.title }}</b></a {# de quel id? #}
              >
            </h3>

            <p class="para">{{ article.content }}</p> {# de quel id? #}



        {% if user == 'ADMIN' %}
            <!-- Session role usertype -->
            <ul class="tags">
              <li>
                <a href="post&delete={{ article.id_article }}">Supprimer</a>
              </li>
              <li>
                <!-- pas une route met un parametre dsn -->
                <a href="post&id_article={{ article.id_article }}&update">Modifier</a>
              </li>
            </ul>
        {% endif %}



            <!-- afficher si update -->
            {% if routename == 'postUpdateRequest' %}
            <form action="post&article=update&id_article={{ article.id_article }}" method="post">
              <label for="prenom">Nouveau titre</label>
              <input type="text" name="title" class="form-control" >
              <label for="prenom">Nouveau texte</label>
              <input type="textaera" name="content" class="form-control" id="">
            <br>

              <input type="submit" value="soumettre" class="btn btn-primary">
            </form>
            {% endif %}
          </div>
          <!-- blog-post-inner -->

          <div class="post-icons-area">
            <ul class="icons">
              <li>SHARE :</li>
              <li>
                <a href="#"><i class="ion-social-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="ion-social-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="ion-social-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- main-post -->
      </div>
      <!-- col-lg-8 col-md-12 -->

      <div class="col-lg-4 col-md-12 no-left-padding">
        <div class="single-post info-area">
          <div class="sidebar-area about-area">
            <h4 class="title"><b>Kemet un paradis perdu!</b></h4>
            <p>
              Ce blog est construit autour d'une architecture PHP MVC.<br /><br />
              Retouvez la documentation sur github<b> </b>
            </p>
            <a href="https://github.com/Juju075/Openclassrooms"
              >https://github.com/Juju075/Openclassrooms</a
            >
          </div>
        </div>
        <!-- info-area -->
      </div>
      <!-- col-lg-4 col-md-12 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- post-area -->

<!-- =================================================================== -->
<!-- -->
<!-- =================================================================== -->

<section class="comment-section">
  <div class="container">
    <h4><b>AJOUTER UN COMMENTAIRE</b></h4>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="comment-form">
          <!-- =================================================================== -->
          <!-- Formulaire -->
          <!-- Recuperer GET id de l'article -->
          <!-- =================================================================== -->
          <form method="post" action="comment&status=new&id_article={{ article.id_article }}">
            <div class="row">
              <div class="col-sm-12">
                <textarea
                  name="content"
                  rows="2"
                  class="text-area-messge form-control"
                  placeholder="Ajouter votre commentaire"
                  aria-required="true"
                  aria-invalid="false"
                  required
                ></textarea>
              </div>
              <!-- col-sm-12 -->

              <div class="col-sm-12">
                <button class="submit-btn" type="submit" id="form-submit">
                  <b>ENVOYER</b>
                </button>
              </div>

              <!-- col-sm-12 -->
            </div>
            <!-- row -->
          </form>
        </div>
        <!-- Fin formulaire  -->

        <!-- =================================================================== -->
        <!-- Affichage commentaires foreach en twig-->
        <!-- =================================================================== -->
        <h4><b>COMMENTAIRES ({{ count }})</b></h4>
        <!-- Ajouter une condition si comments non vide afficher sinon ne rien faire -->
        
        {% for comment in comments %}
        <div class="commnets-area">
          <div class="comment">
            <div class="post-info">
              <div class="left-area">
                <a class="avatar" href="#"
                  ><img
                    src="public/images/avatar-1-120x120.jpg"
                    alt="Profile Image"
                  />
                </a>
              </div>

              <div class="middle-area">
                <a class="name" href="#"
                  ><b>{{ "#{user.prenom} #{ user.nom }" }}</b></a
                >
                <h6 class="date">
    {% set trans_day_hash = { 
        "Monday": "Lundi", 
        "Tuesday": "Mardi", 
        "Wednesday": "Mercredi", 
        "Thursday": "Jeudi", 
        "Friday": "Vendredi", 
        "Saturday": "Samedi", 
        "Sunday": "Dimanche" 
    } 
%} Le 
{{ trans_day_hash[comment.createdat|date('l')] }}
  {{ comment.createdat|date("m/d/Y")}}
                </h6>
              </div>

              <div class="right-area">
                <h6 class="reply-btn">
                  <a href="post&id_article={{ article.id_article }}&comment_update={{ comment.id_comment }}"><b>UPDATE</b></a
                  ><br />
                  <a href="post&id_article={{ article.id_article }}&comment_delete={{ comment.id_comment }}"><b>DELETE</b></a>
                </h6>
              </div>
            </div>
            <!-- post-info -->

            <p>
              {{ comment.content }}
            </p>
          </div>
        </div>
        <div>
            <!-- Form update id_comment -->
            {% if routename == 'commentUpdateRequest' and comment.id_comment == id_comment %}

            <form action="post&comment=update_request&id_comment={{ comment.id_comment }}" method="post">
              <label for="textaera">Modifier commentaire</label>
              <input type="textaera" name="content" class="form-control" >
              <input type="submit" value="soumettre" class="btn btn-primary">
            </form>
            
            {% endif %}
        </div>
        {% endfor %}

        <!-- commnets-area -->
      </div>
      <!-- col-lg-8 col-md-12 -->
    </div>
    <!-- row -->
  </div>

  <!-- container -->
</section>
